html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, html, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica", serif;
  font-weight: normal; 
}

body {
  background: url(/img/retina_wood.png);
}


a {
  cursor: pointer;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: floralwhite;
}

a:visited {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.gridly {
  position: relative;
  width: 790px;
  margin: auto;
}

.brick {
  cursor: pointer;
}

.brick.small {
  width: 140px;
  height: 140px;
}

.brick.large {
  width: 300px;
  height: 300px;
  background: #333;
}

.app {
  display: block;
  margin: auto;
}

.app.icon {
  width: 90px;
  height: 90px;
}

.glyphicon.app.icon, .fa.app.icon {
  padding-top: 24px;
  text-align: center;
  font-size: 52px;
}

.fa.app.icon.social {
  padding-top: 16px;
  font-size: 62px;
}

.app.title {
  color: white;
  font-size: 14px;
  text-align: center;
}

.app.title .glyphicon {
  font-size: 11px;
}

.app.desc {
  background: #333;
  color: white;
  width: 100%;
  height: 100%;
}

.desc-full {
  z-index: 100;
  position: absolute;
  width: 710px;
  top: 250px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.status-bar {
  background: #444;
  height: 22px;
  line-height: 22px;
  margin-bottom: 12px;
  color: white;
  font-size: 11px;
  text-align: right;
  padding: 0 10px 0;
}

.status-bar span {
  margin-right: 4px;
}

.back {
  color: white;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 22px;
}

.back:after {
  content: "Back";
}

.phone { 
  background: url(/img/bg5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 18px solid #000;
  box-shadow: 3px 3px 10px #555;
  margin-top: 100px;
}

.phone.enabled {
  background: #5E9FA3;
}

@media (min-width: 1321px) {
  .phone {
    margin-left: 20%;
    margin-right: 20%;;
  }
}
@media (max-width: 1320px) {
  .phone {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 992px) {
  .phone {
    margin-left: 20px;
    margin-right: 20px;
  } 
}

@media (max-width: 800px) {
  .phone {
    margin-left: 4px;
    margin-right: 4px;
  } 
}

/* MOBILE ONLY */
@media (max-width: 767px) {
  body {
    background: url(/img/bg5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .phone {
    border: none;
    box-shadow: none;
    background: none;
    margin: 0;
  }
  
  .brick.small {
    width: 100px;
    height: 100px;
  }
  .brick.large {
    width: 240px;
    height: 240px;
  }
  
  .gridly {
    position: relative;
    width: 450px;
    margin: auto;
  }
  
  .desc-full {
    top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    width: 360px;
  }
  
}

.home .brick {
  opacity: 1;
  cursor: pointer;
  position: relative; 
}

.home .brick .delete {
  display: block;
  color: #FFF;
  background: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  line-height: 40px; 
  visibility:hidden
}

.home .brick.dragging {
  opacity: 0.8; 
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}